<center><img src="https://dl.dropboxusercontent.com/u/19000002/SF.png"></center>

<div id='mySwipe' style='max-width:500px;margin:0 auto' class='swipe'>
  <div class='swipe-wrap'>

    <!-- This is a thing -->
    


    <% @articles.each do |article| %>
    <div>

      <h3><%= article.title %> </h3>
      <i>
        "<%= article.quote %>"  
        
         
      </i>
      

      <center>
     <%= link_to 'Show', article %> 
    </div>
     
     <% end %>
    <!-- k -->
  </div>
</div>



<div style='text-align:center;padding-top:20px;'>
  
  <button onclick='mySwipe.prev()'>prev</button> 
  <button onclick='mySwipe.next()'>next</button>

</div>
